/* App Level Overrides */
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* Global utility for spinning logos if used */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #6366f1aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}